---
import Layout from "../../../layouts/Layout.astro";
import HeroSection from "../../../components/Sections/HeroSection.astro";
import PlaceSection from "../../../components/Sections/PlaceSection.astro";
import ExplainSection from "../../../components/Sections/ExplainSection.astro";
import SpeakersSection from "../../../components/Sections/SpeakersSection.astro";
import ConferencesSection from "../../../components/Sections/ConferencesSection.astro";
import AcknowledgementsSection from "../../../components/Sections/AcknowledgementsSection.astro";
---

<Layout
	title="Ciclo de Conferencias 2024 - Cofradía del Santo Sepulcro y Ntra. Sra. de los Dolores (Motril)"
	description="Ciclo de conferencias organizado por la Cofradía del Santo Sepulcro y Ntra. Sra. de los Dolores con motivo del 75 aniversario de la hechura de Ntro. Padre Jesús en su Santo Sepulcro"
	keywords="Ciclo de Conferencias Cofradía del Santo Sepulcro y Nuestra Señora de los Dolores Motril Granada España"
	path="/eventos/ciclo-conferencias"
	image="/img/og-image-conferencias.jpg"
>
	<main id="conferences" class="relative">
		<HeroSection />
		<ExplainSection />
		<SpeakersSection />
		<ConferencesSection />
		<PlaceSection />
		<AcknowledgementsSection />
	</main>
</Layout>

