---
import Logo from "../Logo.astro";
import Slider from "../Slider.astro";
---

<section
	id="hero"
	class="relative z-10 h-screen flex flex-col justify-center items-center gap-1 lg:gap-1"
>

	<!-- <Slider /> -->
	<picture>
		<source srcset="/img/slider/slider1.webp" type="image/webp" />
		<img
			src="/img/slider/slider1.webp"
			alt="Fotografía antigua de Nuestro Padre Jesús en su Santo Sepulcro"
			class="absolute inset-0 w-full h-full object-cover object-left-top opacity-35 -z-10"
		/>
	</picture>
	<Logo class="logo-dark hidden w-36 md:w-40 lg:w-48 lg:mt-12" isDark />
	<Logo class="logo-light w-36 md:w-40 lg:w-48 lg:mt-12" />
	<div class="max-w-7xl mx-auto">
		<h1
			class="mx-auto my-0 mb-2 px-6 sm:px-20 text-3xl sm:text-4xl lg:text-5xl font-bold text-brand-red text-center font-garamond uppercase"
		>
			Ciclo de Conferencias
		</h1>
		<span
			class="px-2 text-md sm:text-l md-text-2xl mx-w-[30] lg:max-w-[60ch] text-pretty mx-auto text-center text-brand-black dark:text-brand-pearl font-lato block"
		>
			LXXV Aniversario de la hechura de Nuestro Padre Jesús en su Santo Sepulcro
		</span>
	</div>
</section>

<style>
	:global(html.dark) .logo-dark {
		display: block;
	}
	:global(html.dark) .logo-light {
		display: none;
	}
</style>
