---
import Link from "./Link.astro";
import Logo from "./Logo.astro";
import IconEmail from "./icons/IconEmail.astro";
import IconFacebook from "./icons/IconFacebook.astro";
import IconInstagram from "./icons/IconInstagram.astro";
---

<footer class="">
	<div class="mx-auto w-full max-w-screen-xl p-4 px-6 py-6 lg:py-4">
		<div class="sm:flex sm:justify-between items-center">
			<div class="mb-6 flex flex-col md:mb-0">
				<a
					href="https://sepulcroydoloresmotril.es"
					class="mt-2 flex items-center justify-center"
				>
					<Logo class="h-auto w-24" />
				</a>
			</div>
			
			<div id="rrss" class="text-[0.75rem] sm:text-lg mt-6 sm:mt-0 flex flex-col justify-center items-center sm:items-end gap-y-2">
				<Link href="https://www.facebook.com/CofradiaSepulcroyDoloresMotril" class="text-white hover:text-primary duration-300 flex flex-row sm:flex-row-reverse gap-x-2">
					<>
						<IconFacebook size="24" title="Facebook"/>
						<span>CofradiaSepulcroyDoloresMotril</span>
					</>
				</Link>
					
				<Link href="https://www.instagram.com/cofradiasepulcroydoloresmotril" class="text-white hover:text-primary duration-300 flex flex-row sm:flex-row-reverse gap-x-2">
					<>
						<IconInstagram size="24" title="Instagram"/>
						<span>@cofradiasepulcroydoloresmotril</span>
					</>
				</Link>
					
				<Link href=mailto:"cofradiasepulcroydoloresmotril@gamil.com" class="text-white hover:text-primary duration-300 flex flex-row sm:flex-row-reverse gap-x-2">
					<>	
						<IconEmail size="24" title="Email" class="group-hover:text-[var(--color-red)]"/>
						<span>cofradiasepulcroydoloresmotril@gamil.com</span>
					</>
				</Link>
			</div>
		</div>
		<hr class="my-4 mt-6 border-white/80 sm:mx-auto lg:my-4 lg:mt-8" />
		<div class="sm:flex sm:items-center sm:justify-between">
			<span class="text-sm text-black-400 sm:text-center">
				© 2024 Cofradía del Santo Sepulcro y Nuestra Señora de los Dolores
			</span>
			<span class="text-sm text-black-400 sm:text-center">
				Motril - Granada
			</span>
		</div>
	</div>
</footer>

<style>
	footer {
		background-color: rgba(0, 0, 0, 0.3);
	}
</style>
