---
import Layout from "../../layouts/Layout.astro";

const { PUBLIC_GOOGLE_FORM_EMBED_URL } = import.meta.env;
---
<script>
    
</script>

<Layout 
    title="Links - Cofradía del Santo Sepulcro y Nuestra Señora de los Dolores Motril" 
    description="En esta sección encontrarás enlaces relacionados con la Cofradía del Santo Sepulcro y Nuestra Señora de los Dolores de Motril, incluyendo recursos útiles, sitios web de interés y redes sociales para mantenerte informado sobre nuestras actividades y eventos."
    keywords="enlaces, links, recursos, redes sociales, información, eventos, actividades, Cofradía del Santo Sepulcro y Nuestra Señora de los Dolores Motril"
	path="/links"
	image=""
    header
    footer
>
    <main  class="mb-12">
        <iframe 
            src={PUBLIC_GOOGLE_FORM_EMBED_URL} 
            width="640" height="1879" 
            class="mt-32 w-full max-w-3xl mx-auto border-0 rounded-lg shadow-lg"
            frameborder="0" marginheight="0" marginwidth="0"
        >Cargando…</iframe>
    </main>
</Layout>
