---
---

<section class="p-4 bg-black h-full text-white">
    <h1 class="text-5xl font-bold mb-4">Titulares</h1>
 <h1>titulares</h1>
    <ul>
     
    <li>
        <a href="/titulares/caridad" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition">
            Caridad
        </a>
    </li>
    <li><a href="/titulares/dolores">Dolores</a></li>
    <li><a href="/titulares/santisimo">Santísimo Sacramento</a></li>
    <li><a href="/titulares/sepulcro">Santo Sepulcro</a></li>
    </ul>
</section>
